[submodule "adamant-ModpackLib"]
	path = adamant-ModpackLib
	url = https://github.com/h2-modpack/adamant-ModpackLib.git
	branch = main
[submodule "adamantRunDirector-RunDirector_Modpack"]
	path = adamantRunDirector-RunDirector_Modpack
	url = https://github.com/h2pack-rundirector/adamantRunDirector-RunDirector_Modpack.git
	branch = main
[submodule "ModpackTools"]
	path = ModpackTools
	url = https://github.com/h2-modpack/ModpackTools.git
	branch = main
[submodule "Submodules/adamantRunDirector-GodPool"]
	path = Submodules/adamantRunDirector-GodPool
	url = https://github.com/h2pack-rundirector/adamantRunDirector-GodPool.git
	branch = main
[submodule "Submodules/adamantRunDirector-BoonBans"]
	path = Submodules/adamantRunDirector-BoonBans
	url = https://github.com/h2pack-rundirector/adamantRunDirector-BoonBans.git
	branch = main
[submodule "Submodules/adamantRunDirector-BiomeControl"]
	path = Submodules/adamantRunDirector-BiomeControl
	url = https://github.com/h2pack-rundirector/adamantRunDirector-BiomeControl.git
	branch = main
