[submodule "adamant-ModpackLib"]
	path = adamant-ModpackLib
	url = https://github.com/h2-modpack/ModpackLib.git
	branch = main
[submodule "adamant-ModpackFramework"]
	path = adamant-ModpackFramework
	url = https://github.com/h2-modpack/ModpackFramework.git
	branch = main
[submodule "adamant-ModpackRunDirectorCore"]
	path = adamant-ModpackRunDirectorCore
	url = https://github.com/h2pack-rundirector/ModpackRunDirectorCore.git
	branch = main
[submodule "Setup"]
	path = Setup
	url = https://github.com/h2-modpack/Setup.git
	branch = main
[submodule "Submodules/adamant-RunDirectorGodPool"]
	path = Submodules/adamant-RunDirectorGodPool
	url = https://github.com/h2pack-rundirector/RunDirectorGodPool.git
	branch = main
[submodule "Submodules/adamant-RunDirectorEncounters"]
	path = Submodules/adamant-RunDirectorEncounters
	url = https://github.com/h2pack-rundirector/RunDirectorEncounters.git
	branch = main
[submodule "Submodules/adamant-RunDirectorBoonBans"]
	path = Submodules/adamant-RunDirectorBoonBans
	url = https://github.com/h2pack-rundirector/RunDirectorBoonBans.git
	branch = main
