[submodule "adamant-ModpackLib"]
	path = adamant-ModpackLib
	url = https://github.com/h2-modpack/adamant-ModpackLib.git
	branch = main
[submodule "adamant-ModpackFramework"]
	path = adamant-ModpackFramework
	url = https://github.com/h2-modpack/adamant-ModpackFramework.git
	branch = main
[submodule "adamant-RunDirector_Core"]
	path = adamant-RunDirector_Core
	url = https://github.com/h2pack-rundirector/adamant-RunDirector_Core.git
	branch = main
[submodule "Setup"]
	path = Setup
	url = https://github.com/h2-modpack/Setup.git
	branch = main
[submodule "Submodules/adamant-RunDirector_GodPool"]
	path = Submodules/adamant-RunDirector_GodPool
	url = https://github.com/h2pack-rundirector/adamant-RunDirector_GodPool.git
	branch = main
[submodule "Submodules/adamant-RunDirector_BoonBans"]
	path = Submodules/adamant-RunDirector_BoonBans
	url = https://github.com/h2pack-rundirector/adamant-RunDirector_BoonBans.git
	branch = main
[submodule "Submodules/adamant-RunDirector_BiomeControl"]
	path = Submodules/adamant-RunDirector_BiomeControl
	url = https://github.com/h2pack-rundirector/adamant-RunDirector_BiomeControl.git
	branch = main
